*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background: hsl(272, 49%, 39%); */
    /* background: linear-gradient(90deg, hsl(274, 100%, 85%) 68%, hsl(272, 49%, 39%) 35%, ); */
    /* background: linear-gradient(90deg, red, blue ); */
    /* background: rgb(103, 51, 148); */
    /* background: linear-gradient( rgb(103, 51, 148) 100%, rgb(222, 179, 255) 68%, rgb(161, 67, 234) 53%); */
    background-color: white; 
    overflow: hidden;

}
.last-section-image{
    position: relative;
    left: 34rem;
    bottom: 16.5rem;
}

.container__header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
} 
header{
    background-color: #FDEFFD;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    position: sticky;   
}
a {
    text-decoration: none;
    color: #030303;
    font-size: 12px;
}

.first-ul{
    gap: 2rem;
    list-style: none;
    display: flex;
}


.containerr__header__button > button {
    background-color: #F8ED39;
    border-radius: 20px;
    color: #000000;
    padding: 1rem 3rem;
    text-decoration: none;
    outline: none;
    border: none;
}

a{
    text-decoration: none;
}
/* .main-first-image{
} */
.main-first-box{
    height: 45vh;
    width: 33rem;
    background-color: #A445F2;
    margin-top: 2rem;
}
.parent-main-BOX{
    display: flex;
    gap: 3rem;
}
.first-button > button{
    background-color: #F8ED39;
    color: #000000;
    height: 3rem;
    width: 10rem;
    text-decoration: none;
    outline: none;
    border: none;
}
.first-button{
    padding: 1rem 2rem;
}
.header-main-text > h1{
    font-family: inter;
    font-weight: 18px;
    color: #673395;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.header-main-text > p:first-of-type{
    font-family: inter;
    font-weight: 18px;
    color: #673395;
}
.header-main-text{
    text-align: center;
}
.main-second-box{
    height: 45vh;
    width: 33rem;
    background-color: #A445F2;
    margin-top: 0rem;
}
.first-button > p:first-of-type{
    color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.second-button{
    padding: 1rem 2rem;
}
.second-button > button{
    background-color: #F8ED39;
    color: #000000;
    height: 3rem;
    width: 10rem;
    text-decoration: none;
    outline: none;
    border: none; 
}
.second-button > p:first-of-type{
    display: flex;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.main-first-box{
    background-image: url('img/first\ tech.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.fist-paragraph{
    max-width: 30rem;
    font-size: large;
    color: #673395;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bolder; 
}
.main-second-box{
    background-image: url('img/good.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-second-box > img{
    display: flex;
    padding: 10rem 5rem;
}
.paragraph-text{
    max-width: 30rem;
    font-size: large;
    color: #673395;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}
footer{
    background-color: #151B30;
}
.parent__containerbox{
    max-width: 100%;
    height: 30vh;
    background-color: #151B30;
}
.parent__containerbox{
    display: flex;
}
.parent__footer{
    background-color: #151B30;
    max-width: 100%;
    height: 30vh;
    position: relative;
    top: 50rem;
}
.parent__footer__firsttext{
    display: flex;
    gap: 3rem;
    color:floralwhite;
    padding-top: 4rem;
    padding-left: 2rem;
}
.footer__firstcontainer{
    display: flex;
}

.lorrm{
    color: floralwhite;
    padding-left: 2rem;
    margin-top: 2rem;
}
.first__imageDiv{
    padding-left: 7rem;
    margin-top: 2rem;
}
.parent__footer{
    display: flex;
}
.parent__footer__navigation{
    text-decoration: none;
    padding-left: 4rem;
    padding-top: 2rem;
    font-size: larger;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.parent__footer__navigation__second{
    display: flex;
}
.parent__footer__navigation__second{
    padding-top: 1rem;
    color: #FFFFFF;
    font-size: 12px;
    gap: 0.5rem;
}
.parent__footer__navigation__three{
    color: #FFFFFF;
    gap: 2px;
    display: flex;
    font-size: 12px;
    padding-top: 0.5rem;
}
.parent__footer__fourth{
    padding-top: 2rem;
    padding-left: 6rem;
}
.parent__footer__lastDiv{
    color: #FFFFFF;
    padding-left: 4rem;
    padding-top: 3rem;
}
.parent__box{
    height: 2rem;
    width: 13rem;
    border: 1px solid #F8ED39;
    margin-top: 2rem;
    background-color: black;
    border-radius: 20px;
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}
.parent__box > p:last-of-type{
    text-align: center;
    color: #FFFFFF;
    padding-top: 0.5rem;
}
.parent__footer__secondlastDiv{
    padding-left: 16rem;
    margin-bottom: 15rem;
}
.parent__secondfooter{
    display: flex;
    gap: 3rem;
    color: floralwhite;
    padding-bottom: 5rem;
    padding-top: 3rem;
    padding-left: 2rem; 
}
/* .last__image{
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
}
.first__last__image{
    padding-top: 5rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
} */
footer{
    background-color: #151B30;
}
.parent__containerbox{
    max-width: 100%;
    height: 27vh;
    background-color: #151B30;
}
.parent__containerbox{
    display: flex;
}
.parent__footer{
    background-color: #151B30;
    max-width: 100%;
    height: 24.5vh;
}
.footer__firstcontainer{
    display: flex;
}
.button-class > button{
    background-color: #F8ED39;
    border-radius: 20px;
    color: #777777;
    height: 2rem;
    width: 9rem;
    text-decoration: none;
    outline: none;
    border: none;
}
.button-class{
    padding-top: 2rem;
    color: #777777;
}

.lorrm{
    color: floralwhite;
    padding-left: 2rem;
    margin-top: 2rem;
    max-width: 100%;
    line-height: 20px;
}
.first__imageDiv{
    padding-left: 7rem;
    margin-top: 2rem;
}
.parent__footer{
    display: flex;
}

.parent__footer__navigation{
    text-decoration: none;
    padding-left: 4rem;
    padding-top: 2rem;
    font-size: larger;
    text-decoration: none;
}

ul{
    font-size: larger;
    text-decoration: none;
    color: #FFFFFF;
}

a{
    text-decoration: none;
}

.parent__footer__navigation__second{
    display: flex;
}
.parent__footer__navigation__second{
    padding-top: 1rem;
    color: #FFFFFF;
    font-size: 12px;
    gap: 0.5rem;
}
.parent__footer__navigation__three{
    color: #FFFFFF;
    gap: 2px;
    display: flex;
    font-size: 12px;
    padding-top: 0.5rem;
}
.parent__footer__fourth{
    padding-top: 2rem;
    padding-left: 6rem;
}
.parent__footer__lastDiv{
    color: #FFFFFF;
    padding-left: 4rem;
    padding-top: 3rem;
}
.parent__box{
    height: 2rem;
    width: 13rem;
    border: 1px solid #F8ED39;
    margin-top: 2rem;
    background-color: black;
    border-radius: 20px;
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}
.parent__box > p:last-of-type{
    text-align: center;
    color: #FFFFFF;
    padding-top: 0.5rem;
}
.parent__footer__secondlastDiv{
    /* margin-bottom: 15rem; */
    padding-left: 9rem;
}
.parent__secondfooter{
    display: flex;
    gap: 3rem;
    color: floralwhite;
    padding-top: 3rem;
    padding-left: 2rem;
    position: relative;
    top: 4rem;
}
.last__image{
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
}
.first__last__image{
    padding-top: 5rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
}
.parent__footer__navigation__second{
    display: flex;
}
.parent__footer__secondlastDiv{
    position: relative;
    left: 7rem;
}
