*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background: hsl(272, 49%, 39%); */
    /* background: linear-gradient(90deg, hsl(274, 100%, 85%) 68%, hsl(272, 49%, 39%) 35%, ); */
    /* background: linear-gradient(90deg, red, blue ); */
    /* background: rgb(103, 51, 148); */
    /* background: linear-gradient( rgb(103, 51, 148) 100%, rgb(222, 179, 255) 68%, rgb(161, 67, 234) 53%); */
    background-color: purple; 
    overflow: hidden;

}



.container__header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
}
header{
    background-color: #FDEFFD;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    position: sticky;   
}
a {
    text-decoration: none;
    color: #030303;
    font-size: 12px;
}

ul {
    gap: 2rem;
    list-style: none;
    display: flex;
}


.containerr__header__button > button {
    background-color: #F8ED39;
    border-radius: 20px;
    color: #000000;
    padding: 1rem 3rem;
    text-decoration: none;
    outline: none;
    border: none;
}

a{
    text-decoration: none;
}
.main__section__divcontainer__text{
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #FFFFFF;
    padding-left: 20rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.form .input-box input{
    position: relative;
    height: 60vh;
    width: 900px;
    border-radius: 1px solid black;
    margin-left: 3rem;
    margin-top: 1rem;
    display: flex;
    text-justify: auto;
   
}
/* 
.form .input-box input::placeholder{
 text-align: j
} */
.main__section__divcontainer__secondtext{
    font-family: Comic Sans MS;
    font-size: 20px;
    padding-left: 4rem;
    color: #FFFFFF;
}
textarea {
    text-align: left;
  }
.main__section__divcontainer{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.first__button > button{
    background-color: #F8ED39;
    border-radius: 12px;
    color: #000000;
    text-decoration: none;
    outline: none;
    border: none;
    width: 10rem;
    height: 2.5rem;
}
.first__button{
    padding-left: 5rem;
    padding-bottom: 20px;
    padding-top: 10px;
}
/* .section__image > img{
    width: 650px;
    padding-left: 5rem;
} */
/* .section__image{
    margin-top: ;
} */

footer{
    background-color: #151B30;
}
.parent__containerbox{
    max-width: 100%;
    height: 30vh;
    background-color: #151B30;
}
.parent__containerbox{
    display: flex;
}
.parent__footer{
    background-color: #151B30;
    max-width: 100%;
    height: 40vh;
}
.parent__footer__firsttext{
    display: flex;
    gap: 3rem;
    color:floralwhite;
    padding-top: 4rem;
    padding-left: 2rem;
}
.footer__firstcontainer{
    display: flex;
}

.lorrm{
    color: floralwhite;
    padding-left: 2rem;
    margin-top: 2rem;
}
.first__imageDiv{
    padding-left: 7rem;
    margin-top: 2rem;
}
.parent__footer{
    display: flex;
}
.parent__footer__navigation{
    text-decoration: none;
    padding-left: 4rem;
    padding-top: 2rem;
    font-size: larger;
    text-decoration: none;
}
ul{
    font-size: larger;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.parent__footer__navigation__second{
    display: flex;
}
.parent__footer__navigation__second{
    padding-top: 1rem;
    color: #FFFFFF;
    font-size: 12px;
    gap: 0.5rem;
}
.parent__footer__navigation__three{
    color: #FFFFFF;
    gap: 2px;
    display: flex;
    font-size: 12px;
    padding-top: 0.5rem;
}
.parent__footer__fourth{
    padding-top: 2rem;
    padding-left: 6rem;
}
.parent__footer__lastDiv{
    color: #FFFFFF;
    padding-left: 4rem;
    padding-top: 3rem;
}
.parent__box{
    height: 2rem;
    width: 13rem;
    border: 1px solid #F8ED39;
    margin-top: 2rem;
    background-color: black;
    border-radius: 20px;
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}
.parent__box > p:last-of-type{
    text-align: center;
    color: #FFFFFF;
    padding-top: 0.5rem;
}
.parent__footer__secondlastDiv{
    padding-left: 16rem;
    margin-bottom: 15rem;
}
.parent__secondfooter{
    display: flex;
    gap: 3rem;
    color: floralwhite;
    padding-bottom: 5rem;
    padding-top: 3rem;
    padding-left: 2rem;
}
