@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background: hsl(272, 49%, 39%); */
    /* background: linear-gradient(90deg, hsl(274, 100%, 85%) 68%, hsl(272, 49%, 39%) 35%, ); */
    /* background: linear-gradient(90deg, red, blue ); */
    /* background: rgb(103, 51, 148); */
    /* background: linear-gradient( rgb(103, 51, 148) 100%, rgb(222, 179, 255) 68%, rgb(161, 67, 234) 53%); */
     background: linear-gradient(to left, #887697,#693f89,#3f1068); 
     max-width: 100%;
     height: 100vh;
     width: 100;
     font-family: "Inter", sans-serif;
}

.container__header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header{
    background-color: floralwhite;
    position: sticky;
    top:0;
    left: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;   
}
a {
    text-decoration: none;
    color: #030303;
    font-size: 12px;
}

.first-ul{
    gap: 2rem;
    list-style: none;
    display: flex;
}
main{
    background-image: url('');
    background-repeat: no-repeat;
}


.containerr__header__button > button {
    background-color: #F8ED39;
    border-radius: 20px;
    color: #000000;
    padding: 1rem 3rem;
    text-decoration: none;
    outline: none;
    border: none;
}

a{
    text-decoration: none;
}
.parent-main-header-text{
    font-family: Comic Sans MS;
    padding-top: 1rem;
    font-weight: 3rem;
    text-align: center;
    color: #FFFFFF;
}
.parent-main-box{
    align-items: center;
    gap: 2rem;
    margin-left: 5rem;
}
.fist-section{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.fist-section > P:first-of-type{
    font-family: inter;
    font-weight: bold;
}
.second-section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.third-section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.four-section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.five-section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.six-section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.seven-section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.eight-section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
footer{
    background-color: #151B30;
}
.parent__containerbox{
    max-width: 100%;
    height: 30vh;
    background-color: #151B30;
}
.parent__containerbox{
    display: flex;
}
.parent__footer{
    background-color: #151B30;
    max-width: 100%;
    height: 30vh;
}
.parent__footer__firsttext{
    display: flex;
    gap: 3rem;
    color:floralwhite;
    padding-top: 4rem;
    padding-left: 2rem;
}
.footer__firstcontainer{
    display: flex;
}

.lorrm{
    color: floralwhite;
    padding-left: 2rem;
    margin-top: 2rem;
}
.first__imageDiv{
    padding-left: 7rem;
    margin-top: 2rem;
}
.parent__footer{
    display: flex;
}
.parent__footer__navigation{
    text-decoration: none;
    padding-left: 4rem;
    padding-top: 2rem;
    font-size: larger;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.parent__footer__navigation__second{
    display: flex;
}
.parent__footer__navigation__second{
    padding-top: 1rem;
    color: #FFFFFF;
    font-size: 12px;
    gap: 0.5rem;
}
.parent__footer__navigation__three{
    color: #FFFFFF;
    gap: 2px;
    display: flex;
    font-size: 12px;
    padding-top: 0.5rem;
}
.parent__footer__fourth{
    padding-top: 2rem;
    padding-left: 6rem;
}
.parent__footer__lastDiv{
    color: #FFFFFF;
    padding-left: 4rem;
    padding-top: 3rem;
}
.parent__box{
    height: 2rem;
    width: 13rem;
    border: 1px solid #F8ED39;
    margin-top: 2rem;
    background-color: black;
    border-radius: 20px;
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}
.parent__box > p:last-of-type{
    text-align: center;
    color: #FFFFFF;
    padding-top: 0.5rem;
}
.parent__footer__secondlastDiv{
    padding-left: 16rem;
    margin-bottom: 15rem;
}
.parent__secondfooter{
    display: flex;
    gap: 3rem;
    color: floralwhite;
    padding-bottom: 5rem;
    padding-top: 3rem;
    padding-left: 2rem; 
}
/* .last__image{
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
}
.first__last__image{
    padding-top: 5rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
} */
footer{
    background-color: #151B30;
}
.parent__containerbox{
    max-width: 100%;
    height: 27vh;
    background-color: #151B30;
}
.parent__containerbox{
    display: flex;
}
.parent__footer{
    background-color: #151B30;
    max-width: 100%;
    height: 24.5vh;
}
.footer__firstcontainer{
    display: flex;
}
.button-class > button{
    background-color: #F8ED39;
    border-radius: 20px;
    color: #777777;
    height: 2rem;
    width: 9rem;
    text-decoration: none;
    outline: none;
    border: none;
}
.button-class{
    padding-top: 2rem;
    color: #777777;
}

.lorrm{
    color: floralwhite;
    padding-left: 2rem;
    margin-top: 2rem;
    max-width: 100%;
    line-height: 20px;
}
.first__imageDiv{
    padding-left: 7rem;
    margin-top: 2rem;
}
.parent__footer{
    display: flex;
}

.parent__footer__navigation{
    text-decoration: none;
    padding-left: 4rem;
    padding-top: 2rem;
    font-size: larger;
    text-decoration: none;
}

ul{
    font-size: larger;
    text-decoration: none;
    color: #FFFFFF;
}

a{
    text-decoration: none;
}

.parent__footer__navigation__second{
    display: flex;
}
.parent__footer__navigation__second{
    padding-top: 1rem;
    color: #FFFFFF;
    font-size: 12px;
    gap: 0.5rem;
}
.parent__footer__navigation__three{
    color: #FFFFFF;
    gap: 2px;
    display: flex;
    font-size: 12px;
    padding-top: 0.5rem;
}
.parent__footer__fourth{
    padding-top: 2rem;
    padding-left: 6rem;
}
.parent__footer__lastDiv{
    color: #FFFFFF;
    padding-left: 4rem;
    padding-top: 3rem;
}
.parent__box{
    height: 2rem;
    width: 13rem;
    border: 1px solid #F8ED39;
    margin-top: 2rem;
    background-color: black;
    border-radius: 20px;
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}
.parent__box > p:last-of-type{
    text-align: center;
    color: #FFFFFF;
    padding-top: 0.5rem;
}
.parent__footer__secondlastDiv{
    /* margin-bottom: 15rem; */
    padding-left: 9rem;
}
.parent__secondfooter{
    display: flex;
    gap: 3rem;
    color: floralwhite;
    padding-top: 3rem;
    padding-left: 2rem;
    position: relative;
    top: 4rem;
}
.last__image{
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
}
.first__last__image{
    padding-top: 5rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
}
.parent__footer__navigation__second{
    display: flex;
}
.parent__footer__secondlastDiv{
    position: relative;
    left: 7rem;
}
